---
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Victor",
  country: "Parú",
  occupation: "Programador",
  hobbies: ["stocks", "IA", "cripto"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "PineScript"];

const happy = true;
const finished = false;
const goal = 3;

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle}</title>
</head>
<body>
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
  <h1>{pageTitle}</h1>
  <h2>Mi nuevo sitio web echo con astro</h2>
  <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda pagina de mi sitio web, 
    y es la primera que he construido yo mismo 
  </p>
  <p>Este sitio se ira actualizando a medida que vaya completando mas partes del tutorial, 
    así que no dejes de visitarlo para ver como va mi viaje
  </p>

  <p>He aquí algunos datos sobre mí:</p>

  <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupation}. </li>
    {
      identity.hobbies.length >= 2 && 
      <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
    }

    <p>Mis habilidades son:</p>
    <ul>
    {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </ul>

  <section>
    <ol>
      <li>{happy && <p>¡Estoy feliz de aprender Astro!</p>}</li>
      <li>{finished && <p>¡He terminado este tutorial</p>}</li>
      <li>{goal === 3 ? <p>Mi obejetivo es terminar en 3 días</p> : <p> Mi obejetivo no son 3 días</p>}</li>
    </ol>

  </section>

</body>
</html>